@font-face {
    font-family: 'myfont';
    src: url('../fonts/YekanBakh-Regular/YekanBakh-Regular.eot') format('eot');
}

@font-face {
    font-family: 'myfont';
    src: url('../fonts/YekanBakh-Regular/YekanBakh-Regular.woff') format('woff');
}

@font-face {
    font-family: 'myfont';
    src: url('../fonts/YekanBakh-Regular/YekanBakh-Regular.woff2') format('woff2');
}

body {
    direction: rtl;
    font-family: myfont !important;
}
.sec-right, .sec-left {
    height:100vh;
}

.sec-right .input-group, .sec-left, .sec-left .sec-left-body {
    display: grid;
}

.sec-right .input-group input {
    width: 300px;
}

.sec-left .email-btn {
    border-radius: 50px;
}

input:focus {
    outline: none;
}

.sec-left {
    background-color: #7A7CF5;
    color: white;
}

.sec-left .sec-left-top i {
    font-size: xx-large;
}

.sec-left .email-log {
    background-color: #7A7CF5;
}

.sec-left .email-log::placeholder {
    color: white;
}

.sec-left::before {
    content: "";
    /*background-image: url(../img/image.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    opacity: 0.75;
}

.sec-right {
    color: #A49AF0;
}

.sec-right button {
    background-color: #A49AF0;
}

.sec-right button:hover, .sec-right button:active {
    background-color: white !important;
    border: 1px solid #A49AF0 !important;
    color: #A49AF0 !important;
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

.sec-left button, .sec-left button:hover, .sec-left button:active, a {
    /*color: #000 ;*/
    text-decoration: none !important;
}

.menu-body-txt {
    padding: 0 20% 75px 20%;
}
.sec-right-footer{
    position: absolute;
    bottom: 0;
}
.bg-icon1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 110px;
    background-color: #40498b52;
    border-bottom-left-radius: 50px;
}

.bg-icon2 {
    position: absolute;
    top: 150px;
    left: 290px;
    width: 150px;
    height: 150px;
    opacity: .3;
    background-color: #40498b52;
    border-radius: 20px;
}

.bg-icon3 {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100px;
    height: 150px;
    background-color: #40498b52;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

.bg-icon4 {
    position: absolute;
    top: 445px;
    opacity: .38;
    left: 250px;
    width: 80px;
    height: 80px;
    background-color: #40498b52;
}
.bg-icon5 {
    position: absolute;
    top: 350px;
    right: 208px;
    width: 80px;
    height: 80px;
    opacity: .3;
    background-color: #00010838;
    transform: rotate(45deg);
}

.bg-icon6 {
    position: absolute;
    top:550px;
    right: 108px;
    width: 90px;
    height: 30px;
    opacity: .3;
    background-color: #00010838;
    transform: rotate(145deg);
}

/*login form memar*/

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: #0019ce52;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.9);
}
form.form{
    margin: 170px auto;

}
.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

.form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #8500ff;
}

.form .input-group {
    position: relative;
}

.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: .9rem;

    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
    text-align: right;
    font-family:myfont;
}

.form .input-group label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;

}

.form .input-group input:focus + label, .form .input-group input:valid + label {
    transform: translateY(-25px);
    color: #ff652f;
    font-size: .9rem;
}

.submit-btn {
    display: block;
    margin: auto auto 20px auto;
    border: none;
    color: black;
    outline: none;
    background: linear-gradient(#845bdc,#2673b9);
    font-size: 1rem;
    width:130px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family:myfont;
    transition:.2s;
}

.submit-btn:hover{
    opacity:.8;

}

.forgot-pw {
    color: inherit;
    font-size:.8rem;
    text-decoration:none;

}

#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;

}

#forgot-pw:target {
    height: 100%;
    opacity: 1;
    transition: .3s;
}

.close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;

}

/*end login form memar*/


/*navbar-memar*/
.container-nav {
    margin: 0 !important;
    position: fixed;
    top: 0;
    z-index: 555555;
    text-align: right;
    width: 100%;
}

.nav-fostrap {
    display: block;
    /*margin-bottom: 15px;*/
    background: #03A9F4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    /*border-radius: 3px;*/
}

.nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.nav-fostrap li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #def1f0;
}

.nav-fostrap li a {
    padding: 15px;
    font-size: 14px;
    color: #def1f0;
    display: inline-block;
    outline: 0;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown {
    position: absolute;
    display: none;
    width: 230px;
    background: #2980B9;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
    display: block;
    list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
    display: block;
    font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a {
    border-bottom: none;
}

.nav-fostrap li:hover a {
    background: #2980B9;
    color: #fff !important;
}

.nav-fostrap li:first-child:hover a {
    border-radius: 3px 0 0 3px;
}

.nav-fostrap li ul.dropdown li:hover a {
    background: rgba(0, 0, 0, .1);
}

.nav-fostrap li ul.dropdown li:first-child:hover a {
    border-radius: 0;
}

.nav-fostrap li:hover .arrow-down {
    border-top: 5px solid #fff;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    left: -5px;
    content: '';
}

.title-mobile {
    display: none;
}

@media only screen and (max-width: 900px) {

    .nav-fostrap {
        background: #fff;
        width: 200px;
        height: 100%;
        display: block;
        position: fixed;
        left: -200px;
        top: 0;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .title-mobile {
        position: fixed;
        display: block;
        top: 10px;
        font-size: 20px;
        left: 100px;
        right: 100px;
        text-align: center;
        color: #FFF;
    }

    .nav-fostrap.visible {
        left: 0;
        -webkit-transition: left 0.25s ease;
        -moz-transition: left 0.25s ease;
        -ms-transition: left 0.25s ease;
        -o-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }

    .nav-bg-fostrap {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 50px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: #03A9F4;
        padding: 12px 0 0 10px;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }

    .navbar-fostrap {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        cursor: pointer;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px;
    }

    .navbar-fostrap span {
        height: 2px;
        background: #fff;
        margin: 5px;
        display: block;
        width: 20px;
    }

    .navbar-fostrap span:nth-child(2) {
        width: 20px;
    }

    .navbar-fostrap span:nth-child(3) {
        width: 20px;
    }

    .nav-fostrap ul {
        padding-top: 50px;
    }

    .nav-fostrap li {
        display: block;
    }

    .nav-fostrap li a {
        display: block;
        color: #505050;
        font-weight: 600;
    }

    .nav-fostrap li:first-child:hover a {
        border-radius: 0;
    }

    .nav-fostrap li ul.dropdown {
        position: relative;
    }

    .nav-fostrap li ul.dropdown li a {
        background: #2980B9 !important;
        border-bottom: none;
        color: #fff !important;
    }

    .nav-fostrap li:hover a {
        background: #03A9F4;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li:hover a {
        background: rgba(0, 0, 0, .1);
    !important;
        color: #fff !important;
    }

    .nav-fostrap li ul.dropdown li a {
        padding: 10px 10px 10px 30px;
    }

    .nav-fostrap li:hover .arrow-down {
        border-top: 5px solid #fff;
    }

    .arrow-down {
        border-top: 5px solid #505050;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    .cover-bg {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1199px) {

    .container-nav {
        width: 100%;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.btn-advice {
    /* background: #4cbf9d; */
    border-color: transparent;
    color: #fff;
    padding: 8px 7px !important;
    display: block;
    border-radius: 3px !important;
    margin-top: 9px;
    margin-bottom: 10px;
    width: 90px;
}

#myzereshk {
    position: absolute;
    left: 16px;
}

#register {
    position: absolute;
    left: 109px;
}
.container-nav ul li i {
    font-size: 21px;
    vertical-align: -2;
    margin-left: 3px;
}
/*end of navbar memar*/